$main-color: #6F4E37;
$main-margin: 2rem;
$main-font-family: "Bernard MT Condensed";
$max-width: 100%;

body {
    margin: 0 auto;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  ul {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }
  
  .bg-primary {
    background-color: $main-color !important;
  }
  
  
  
  /* Navigation Bar */
  .top-bar {
    background-color: $main-color;
  }
  
  .navigation-bar {
    max-width: $max-width;
    display: flex;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .logo-image {
    max-width: 100px;
  }
  
  .navbar-nav a {
    color: $main-color;
    font-family: $main-font-family;
    font-size: xx-large;
  }
  
  .navbar-collapse li a:hover:not(.active) {
    background-color: $main-color;
    color: white;
    text-decoration: none;
  }
  
  .location {
    font-size: medium;
    color: $main-color;
  }
  
  /* Article */
  
  .hero {
    color: $main-color;
    font-family: $main-font-family;
    font-size: xx-large;
    margin: $main-margin 5% 0 5%;
  }
  
  .middle-bar2 {
    margin-top: $main-margin;
  }
  
  .main-text {
    margin: $main-margin 5% 0 5%;
    color: $main-color;
    font-size: x-large;
  }
  
  .text4 {
    opacity: 0.5;
    margin-left: 1.5rem;
  }
  
  .text3 {
    font-family: $main-font-family;
    color: $main-color;
    font-size: xx-large;
  }
  
  .text4 {
    font-size: large;
  }
  
  .below-bar {
    margin-top: $main-margin;
  }
  
  .second-event, .first-event, .third-event, .fourth-event {
    margin-top: $main-margin;
    color: $main-color;
  }
  
  .youtube-video {
    width: $max-width;
    height: 450px;
  }
  
  .bg-danger {
    background-color: #e8f4f8 !important;
  }
  
  .below-bar {
    margin-top: $main-margin;
  }
  /* Footer */
  
  .contact-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .contact-icon > div {
    text-align: center;
    padding: 20px 0;
  }
  
  .text1 {
    color: $main-color;
    font-family: $main-font-family;
    font-size: xx-large;
  }
  
  .text5 {
    margin-left: 1.5rem;
    opacity: 0.5;
  
  }
  
  .left-navigation li {
    display: inline;
  }
  
  .left-navigation a {
    padding: 1.5rem;
    color: $main-color;
    font-family: $main-font-family;
    font-size: x-large;
  }
  
  .sub-navigation {
    margin-top: $main-margin;
  }
  
  .fa-instagram, .fa-facebook, .fa-twitter {
    color: black;
  }
  
  .fa-globe-americas, .fa-bars, .fa-cat, .fa-coffee, .fa-dollar-sign, .fa-map-marker-alt {
    color: $main-color;
  }
  
  
  @media only screen and (max-width: 1000px) {
    .location {
      display: none;
    }
  }
  
  