$main-color: #6F4E37;
$main-margin: 2rem;
$main-font-family: "Bernard MT Condensed";
$max-width: 100%;

body {
    margin: 0 auto;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }
  
  .container {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }
  
  ul {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }
  
  .bg-primary {
    background-color: $main-color !important;
  }
  
  /* Navigation Bar */
  
  
  .top-bar {
    background-color: $main-color;
  }
  
  .navigation-bar {
    max-width: $max-width;
    display: flex;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .logo-image {
    max-width: 100px;
  }
  
  .navbar-nav a {
    color: $main-color;
    font-family: $main-font-family;
    font-size: xx-large;
  }
  
  .navbar-collapse li a:hover:not(.active) {
    background-color: $main-color;
    color: white;
    text-decoration: none;
  }
  
  .location {
    font-size: medium;
    color: $main-color;
  }
  
  
  
  /* Article */
  
  .hero {
    max-width: $max-width;
  }
  
  .hero-text {
    color: white;
    font-family: $main-font-family;
    font-size: xxx-large;
  }
  
  .middle-bar {
    margin-top: $main-margin;
  }
  
  .introduction {
    margin-top: $main-margin;
    display: flex;
    justify-content: center;
    background-color: #FED8B1;
    padding: $main-margin;
  }
  
  .introduction > div {
    width: 20%;
    margin: 10px;
    text-align: center;
    color: black;
    line-height: 3rem;
  }
  
  .drink {
    max-width: $max-width;
    margin-top: $main-margin;
    color: $main-color ;
  }
  
  .bg-danger {
    background-color: #e8f4f8 !important;
  }
  
  .image2 {
    max-width: 600px;
  }
  
  .image3 {
    max-width: 600px;
  }
  
  .pet {
    max-width: $max-width;
    margin-top: $main-margin;
    background-color: #e8f4f8;
    color: $main-color ;
  }
  
  .below-bar {
    margin-top: $main-margin;
  }
  
  /* Footer */
  
  .contact-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .contact-icon > div {
    text-align: center;
    padding: 20px 0;
  }
  
  .text1 {
    color: $main-color;
    font-family: $main-font-family;
    font-size: xx-large;
  }
  
  .text2 {
    margin-left: 1.5rem;
    opacity: 0.5;
  
  }
  
  .left-navigation li {
    display: inline;
  }
  
  .left-navigation a {
    padding: 1.5rem;
    color: $main-color;
    font-family: $main-font-family;
    font-size: x-large;
  }
  
  .sub-navigation {
    margin-top: $main-margin;
  }
  
  .fa-instagram, .fa-facebook, .fa-twitter {
    color: black;
  }
  
  .fa-globe-americas, .fa-bars, .fa-cat, .fa-coffee, .fa-dollar-sign, .fa-map-marker-alt{
    color: $main-color;
  }
  
  @media only screen and (max-width: 1000px) {
    body {
      margin: 0 auto;
      background-color: white;
    }
    .location {
      display: none;
    }
    .hero-text {
      text-align: center;
    }
    .introduction {
      display: table;
    }
    .introduction > div {
      width: $max-width;
      padding: 1rem;
      text-align: center;
      color: black;
      line-height: 3rem;
    }
    #navbarSupportedContent a {
      padding: 1rem;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    body {
      margin: 0 auto;
      background-color: white;
    } 
    .drink, .pet {
      text-align: center;
    }
  
    
    .hero {
      display: table;
    }
    .hero-text {
      text-align: center;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
   
  
  